#kubectl create configmap excel-data --from-file=input.xlsx
#kubectl create configmap excel-script --from-file=excel_to_mongo.py
#kubectl create secret generic mongodb-secret   --from-literal=MONGO_URI="mongodb://mongo:27017"   --from-literal=MONGO_DB="observability"   --from-literal=MONGO_COLLECTION="metrics"

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6.0
          ports:
            - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017

